$primary: #34833A;
$gray: gray;
$yellow: #F9DF4B;
$background-yellow: #FFE032;
$HeaderBackgroundColor: #fff;
$NavigationBackgroundColor: red;
$NavigationTextColor: black;
$NavigationHoverColor: $primary;
$dealer-yellow: #ffdf00;
