/* Mobile Only */
@media only screen and (max-width: 425px) {
  //.buy-btn {
  //  min-width: 210px;
  //}
  .card--listing-img {
    max-width: 250px;
  }
  .offer--product {
    text-align: center;
  }
}

/* Only Tablet */
@media only screen and (min-width: 425px) and (max-width: 768px) {
  //.buy-btn {
  //  min-width: 260px;
  //}


}

/* Mobile Tablet */
@media only screen and (max-width: 768px) {
  .about--logo {
    border-right: none;
    height: auto;
    text-align: center;

    img {
      height: auto;
    }
  }

  .news--border-right {
    border: none;
  }
  .heading--title {
    font-size: 35px;
  }

  .heading--subtitle {
    font-size: 19px;
  }

  .font--20 {
    font-size: 18px !important;
  }

  #productCarousel {
    .carousel-indicators {
      justify-content: center;
    }
  }

  .header--logo {
    max-width: 190px;
    height: 33px;
  }

}

/* Mobile Tablet Laptop */
@media only screen and (max-width: 1024px) {
  .details-heading--img {
    display: none;
  }
  .details-heading--lg-img {
    display: block;
  }
  .carousel-control-next, .carousel-control-prev {
    font-size: 18px;
    height: 40px;
    width: 40px;
  }
  .navbar-nav .dropdown-menu.cart_box {
    left: 0 !important;
  }
  .offer--title {
    h2 {
      font-size: 50px;
    }

  }

}


/* Only big screens */
@media only screen and (min-width: 1024px) {
  .banner_slide_content {
    min-height: 550px;

    h2 {
      font-size: 70px;
    }

    h5 {
      font-size: 25px;
    }

    a {
      font-size: 20px;
      width: 300px;
      height: 50px;
      padding-top: 10px;
    }
  }


}


/* -------------------------------------------------
  min-width: 992px
---------------------------------------------------*/
@media only screen and (min-width: 992px) {

  .modal-lg,
  .modal-xl {
    max-width: 1100px;
  }
  .banner_slide_content {
    min-height: 480px;

    h2 {
      font-size: 50px;
    }

    h5 {
      font-size: 18px;
    }

    a {
      font-size: 20px;
      width: 250px;
      height: 40px;
      padding-top: 5px;
    }
  }
  .banner_content_inner {
    padding-top: 7rem;
  }

  .navbar-toggler {
    display: none;
  }
  .navbar .navbar-nav li > .dropdown-menu,
  #navCatContent ul > li .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
    pointer-events: none;
  }
  .navbar .navbar-nav li:hover > .dropdown-menu,
  #navCatContent ul > li:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    margin-top: 0px;
    pointer-events: auto;
  }
  .cart_dropdown:hover > .dropdown-menu {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
    margin-top: 0px !important;
  }
  .cart_dropdown:hover > .dropdown-menu.cart_box {
    -webkit-transform: scale(1) !important;
    transform: scale(1) !important;
  }
  .navbar .navbar-nav li:hover > .dropdown-menu .mega-menu ul li .dropdown-menu {
    margin-top: 10px;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-menu {
    left: 100%;
    top: 0;
  }
  .navbar .navbar-nav .dropdown-menu.dropdown-reverse .dropdown-menu {
    left: auto;
    right: 100%;
    margin-left: 0;
  }
  .navbar .navbar-nav .dropdown-menu.dropdown-reverse li:hover > .dropdown-item::after {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .dropdown-menu.dropdown-reverse {
    left: auto;
    right: 0;
  }
  .navbar .navbar-nav li:hover > .dropdown-menu .header_banner_title, .navbar .navbar-nav li:hover > .dropdown-menu .header_banner_text, .navbar .navbar-nav li:hover > .dropdown-menu .header_banner_content a, .navbar .navbar-nav li:hover > .dropdown-menu .header_banner_content .shop_title, .navbar .navbar-nav li:hover > .dropdown-menu .header_banner_content .shop_subtitle {
    opacity: 1;
    -moz-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  .navbar .navbar-nav li:hover > .dropdown-menu .header_banner_content .banner_img img {
    -webkit-filter: blur(0);
    filter: blur(0);
  }
  //.banner_content_inner {
  //  padding: 5rem;
  //}
  .nav_cat ul li .dropdown-menu {
    min-width: 700px;
  }
  .pr_search_icon {
    display: none;
  }
}

/* -------------------------------------------------
  max-width: 991px
---------------------------------------------------*/
@media only screen and (max-width: 991px) {
  .header--logo {
    width: 100%;
  }
  .banner_slide_content {
    min-height: 480px;
  }
  .header--container {
    max-width: 100% !important;
    margin: 0 5% 0 5%;
  }

  .dropdown-toggle::after, .dropdown-toggler::after {
    display: inline-block;
  }
  .header_wrap nav.navbar {
    display: table;
    width: 100%;
  }
  .header_wrap .navbar .navbar-nav.attr-nav {
    display: block;
    float: right;
  }
  .header_wrap .navbar-collapse {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 999;
  }
  .navbar .navbar-collapse .navbar-nav {
    max-height: 80vh;
    overflow-y: auto;
  }
  .header_wrap .navbar-collapse.mobile_side_menu {
    position: fixed;
    right: -280px;
    display: block;
    top: 0;
    bottom: 0;
    width: 270px;
    left: auto;
    height: auto !important;
    transition: all 0.3s ease-in-out;
  }
  .header_wrap .navbar-collapse.mobile_side_menu.show {
    right: 0;
  }
  .header_wrap .navbar-collapse.mobile_side_menu .navbar-nav {
    height: 100%;
    max-height: 100vh;
  }
  .navbar .navbar-nav > li > .nav-link,
  .nav-fixed .navbar .navbar-nav > li > .nav-link {
    padding: 10px 10px;
  }
  .navbar .navbar-nav.attr-nav li {
    float: left;
  }
  .navbar .navbar-nav.attr-nav li .nav-link {
    padding: 20px 10px;
  }
  .navbar .navbar-nav.attr-nav li .nav-link.search_trigger,
  .navbar .navbar-nav.attr-nav li .nav-link.cart_trigger {
    padding: 16px 8px;
  }
  .cart_count, .wishlist_count {
    top: 0;
  }
  .navbar .navbar-collapse .navbar-nav:not([class*="bg_"]):not([class*="bg-"]) {
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }

  .dark_skin:not([class*="bg_"]):not([class*="bg-"]).sticky_light_skin.nav-fixed .navbar-collapse .navbar-nav {
    background-color: #252A2C;
    border-color: #252A2C;
  }
  .light_skin .mega-menu {
    padding: 0;
  }
  .header_banner,
  .header_banner_wrap {
    display: none;
  }
  .dropdown-menu .dropdown-toggler::after {
    right: 0px;
  }
  .menu_banners {
    display: none;
  }
  .search_wrap {
    max-width: 100%;
    margin: 0 30px;
  }
  .product_search_form {
    display: none;
  }
  .product_search_form.show {
    display: block;
  }
  //.dropdown-toggle::after {
  //  float: right;
  //}
  .navbar-nav > li > .dropdown-menu,
  .navbar .navbar-nav li.dropdown-mega-menu .dropdown-menu {
    padding-left: 10px;
    padding-right: 10px;
  }
  .dropdown-toggler::after {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .navbar .attr-nav li.nav-btn {
    margin-top: 8px;
  }
  .navbar .navbar-nav.attr-nav li .nav-link.search_trigger [class*="linearicons-"], .navbar .navbar-nav.attr-nav li .nav-link.cart_trigger [class*="linearicons-"] {
    margin-top: 5px;
    display: inline-block;
  }
  .navbar .navbar-nav .dropdown-item {
    padding: 8px 10px 8px 10px;
  }
  .navbar .navbar-nav .dropdown-header {
    padding: 10px;
  }
  .sidetoggle_icon::after {
    bottom: -8px;
  }
  .sidetoggle_icon::before {
    top: -6px;
  }
  .nav_cat.collapse:not(.show) {
    display: block;
  }
  .header_wrap.transparent_header + .breadcrumb_section {
    padding-top: 100px;
  }
  #navCatContent {
    position: fixed;
    left: -280px;
    top: 0;
    bottom: 0;
    display: block;
    max-width: 270px;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
  }
  #navCatContent.show {
    left: 0;
  }
  #navCatContent ul li .dropdown-menu {
    left: 0;
    top: auto;
    min-width: auto;
    position: relative;
    box-shadow: none;
  }
  #navCatContent .mega-menu {
    padding: 0;
  }
}


/* -------------------------------------------------
  max-width: 767px
---------------------------------------------------*/
@media only screen and (max-width: 767px) {
  .header--placeholder {
    height: 80px;
    margin-bottom: 24px
  }
  .nav_block {
    max-height: 54px;
  }
  .tab-content {
    margin-top: 20px;
  }
  .trading_img {
    margin-top: 0;
  }
  .nav-tabs li.nav-item a {
    padding: 5px 15px;
    font-size: 14px;
  }
  .header_with_topbar.transparent_header + .banner_section .banner_slide_content {
    margin-top: 70px;
  }
  .header_topbar_info {
    -ms-flex-pack: center;
    justify-content: center;
  }

}


/* -------------------------------------------------
  min-width: 1440px
---------------------------------------------------*/
@media only screen and (min-width: 1440px) {
  .banner_slide_content {
    min-height: 600px;

    h2 {
      font-size: 100px;
      line-height: 90px;
    }

    h5 {
      font-size: 35px;
    }

    a {
      font-size: 22px;
      width: 380px;
      height: 70px;
      padding-top: 18px;
    }
  }
  .banner_content_inner {
    padding-top: 7%;
  }
}


