html{
  scroll-behavior: smooth !important;
}

html , body {
  overflow-x: hidden !important;
  max-width: 100% !important;
}

.background--primary {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $primary;
}

.section--title {
  border-bottom: 4px solid $primary;
}

.background--yellow{
  background-color: $background-yellow;
}
