html {
  scroll-behavior: smooth !important;
}

html, body {
  overflow-x: hidden !important;
  max-width: 100% !important;
}

input[type="text"], input[type="password"], input[type="number"] {
  background-color: #f7f7f7;
}

textarea {
  background-color: #f7f7f7 !important;
}

.background--primary {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $primary;
}

.section--title {
  border-bottom: 4px solid $primary;
}

.background--yellow {
  background-color: $background-yellow;
}

.bg-light-gray {
  background-color: #E4E4E4;
}

.border--bottom-primary {
  border-bottom: 1px solid $primary;
}

