.product--card-action {
  button {
    //position: absolute;
    //bottom: 0;
    //left: 0;
    //right: 0;
  }

}

.card--listing {
  margin-bottom: 3rem;
}

.card--listing-body {
  height: 82% !important;
}

.card--listing-img {
  max-width: 100%;
  min-width: 230px;
}
