.border-bottom-bold {
  border-bottom: 4px solid $gray;
}

.product--details-container {
  .fa-calculator {
    font-size: 8rem;
  }

  .fa-print, .fa-share-alt {
    font-size: 2rem;
  }
}

.buy-btn {
  //min-width: 320px;
}

.benefit--section {
  background-color: #F5F5F5;
  margin-top: 186px;

  p {
    line-height: normal;
  }
}

.benefit--img {
  width: 28px;
  height: 30px;
}

.relative--products-title {
  border-bottom: 4px solid $primary;
}

.relative--products-title {
  margin-bottom: 6rem;
}

.details-heading--img {
  max-height: 300px;
  position: absolute;
  bottom: 0;
  left: 20%;
}

.details-heading--lg-img {
  max-width: 300px;
}

/* Product Carousel Slider */
//this should be ID
#productCarousel {

  .carousel-inner img {
    width: 100%
  }

  .carousel-item img {
    width: 376px;
    height: 376px;
  }

  .carousel-indicators {
    position: static;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    justify-content: end;
  }

  .carousel-indicators > li {
    width: 100px
  }

  .carousel-indicators li img {
    display: block;
    opacity: 0.5
  }

  .carousel-indicators li.active img {
    opacity: 1
  }

  .carousel-indicators li:hover img {
    opacity: 0.75
  }
}


/* Quantity Styles */
.quantity {
  display: table;
}

.quantity .minus, .quantity .plus {
  background-color: #eee;
  display: block;
  float: left;
  cursor: pointer;
  padding: 0;
  width: 50px;
  height: 52px;
  line-height: 36px;
  text-align: center;
  font-size: 20px;
  margin: 0;
  border: 2px solid grey;
}


.quantity .minus {
  padding-left: 4px;
}

.quantity .qty {
  float: left;
  width: 80px;
  height: 52px;
  background-color: transparent;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: large;
  font-weight: 600;
  border: 2px solid grey;
}
