footer {
  .container {
    padding-top: 5%;
    padding-bottom: 5%;
  }
}

.footer-copyright {
  border-top: 2px solid #fff;
}

.news--border-right {
  border-right: 1px dashed $primary;
}

.newsletter--section {
  p {
    font-size: 20px;
  }
}
