.top-header{
  height: 60px;
  background-color: $primary;
}

.header--logo{
  width: 240px;
  height: 60px;
}

.header--nav-ul , .cart_box{
  a{
    color: #606060 !important;
    &:hover{
      color: $primary !important ;
    }
  }
}


.dropdown-item.menu-link.dropdown-toggler::after{
  border: 0 none;
  content: "\27A4";
  color: black;
  opacity: .7;
  margin-left: 5px;
  font-size: 10px;
  vertical-align: middle;
}

.dropdown-menu .dropdown-toggler::after {
  position: absolute;
  right: 15px;
  top: 10px;
}




.header_wrap {
  transition: all 0.5s ease 0s;
}

.header_wrap.transparent_header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1030;
}
.header_wrap.nav-fixed {
  box-shadow:  0 0 5px rgba(0,0,0,0.15);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1041;
  -webkit-animation: slideInDown 0.65s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-animation: slideInDown 0.65s cubic-bezier(0.23, 1, 0.32, 1);
  -o-animation: slideInDown 0.65s cubic-bezier(0.23, 1, 0.32, 1);
  animation: slideInDown 0.65s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-animation-fill-mode: none;
  -moz-animation-fill-mode: none;
  -o-animation-fill-mode: none;
  animation-fill-mode: none;
}

.nav-fixed.border_bottom_tran {
  border: 0;
}
.header_wrap.fixed-top.transparent_header.nav-fixed.no-sticky {
  position: absolute;
}
.header_wrap.fixed-top.nav-fixed.no-sticky {
  position: relative;
}
.header_wrap:not([class*="bg_"]):not([class*="bg-"]).transparent_header.nav-fixed.no-sticky {
  background-color: transparent;
  box-shadow: none;
}

.sidebar_left_push.sidetoggle_active .header_wrap.nav-fixed {
  left: 400px;
  right: -400px;
}

.header_wrap.transparent_header  + .breadcrumb_section {
  padding-top: 200px;
}
.header_wrap.transparent_header.header_with_topbar + .breadcrumb_section {
  padding-top: 250px;
}

.nav-fixed .top-header,
.nav-fixed .middle-header {
  display: none !important;
}

.top-header .custome_dropdown .ddChild {
  background-color: #fff;
  border: 0 !important;
  min-width: 10rem;
  left: -10px;
}
.top-header {
  border-bottom: 1px solid #eee;
}
.top-header.light_skin {
  border-color: rgba(255,255,255,0.2);
}
.top-header[class*="bg_"], .top-header[class*="bg-"] {
  border: 0;
}
.top-header span {
  font-size: 14px;
  vertical-align: middle;
}
.header_topbar_info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
}
.icon_list > li {
  color: #333;
  vertical-align: middle;
  display: inline-block;
  padding: 2px 10px 2px 0;
}
.icon_list > li > i {
  font-size: 16px;
}
.icon_list > li a {
  color: #bfbfbf;
}

.lng_dropdown .ddcommon .ddChild li {
  padding-left: 33px;
}
.middle-header {
  padding: 10px 0;
  position: relative;
}
.nav-fixed .middle-header {
  display: none !important;
}
.product_search_form {
  position: relative;
  width: 160px;
  height: 30px;
  .fa-search{
    font-size: 16px;
    color: grey;
  }

  input {
    height: 33px;
  }


}


#navCatContent li {
  list-style: none;
}
#navCatContent {
  background-color: #fff;
  position: absolute;
  padding: 5px 0px 0;
  top: 100%;
  width: 100%;
  left: 0;
  right: 0;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
  z-index: 99;
}

#navCatContent ul {
  width: 100%;
}
#navCatContent li a {
  text-transform: capitalize;
  font-size: 14px;
}
#navCatContent li a i {
  font-size: 22px;
  vertical-align: middle;
  margin-right: 10px;
  line-height: 30px;
}
#navCatContent li a span {
  vertical-align: middle;
}
#navCatContent li a:hover {
  color: #FF324D;
}
#navCatContent li a.dropdown-toggler::after {
  position: absolute;
  right: 15px;
  top: 15px;
}
#navCatContent ul li .dropdown-menu {
  left: 100%;
  top: 0;
  margin: 0;
  border: 0;
  min-width: 800px;
  width: 100%;
  right: 0;
  box-shadow: 10px 16px 49px 0px rgba(38,42,46,0.05);
  border-radius: 0;
  padding: 0;
}
#navCatContent ul li .dropdown-menu .dropdown-header {
  color: #333;
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: bold;
}
#navCatContent .mega-menu-col {
  border: 0;
}
.navbar-brand {
  padding: 10px 0;
  vertical-align: top;
  margin: 0;
}
.navbar {
  padding: 0;
}
.header_wrap {
  transition: all 0.5s ease 0s;
}

.navbar .navbar-nav li {
  position: relative;
  list-style: none;
  transition: all 0.3s ease 0s;
}
.navbar-nav .dropdown-menu {
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
  min-width: 14rem;
}
.navbar-nav .dropdown-menu {
  background-color: WHITE
}
//.dropdown-toggler::after {
//  -moz-transform: rotate(-90deg);
//  -webkit-transform: rotate(-90deg);
//  transform: rotate(-90deg);
//}

.navbar .navbar-nav > li > .nav-link {
  font-weight: 900;
  padding: 22px 10px;
  text-transform: capitalize;
  font-size: 14px;
}
.navbar .navbar-nav .dropdown-item {
  padding: 8px 20px 8px 20px;
  color: #333;
  font-size: 14px;
  text-transform: capitalize;
}
.navbar .navbar-nav .dropdown-item.dropdown-toggler {
  padding-right: 30px;
}
.navbar .navbar-nav .dropdown-header {
  color: #333;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.navbar-nav.attr-nav {
  -ms-flex-direction: row;
  flex-direction: row;
}
.navbar-nav.attr-nav li .nav-link {
  padding: 20px 10px;
  position: relative;
  white-space: nowrap;
}
.navbar .attr-nav li.nav-btn {
  margin-left: 10px;
}
.navbar-nav.attr-nav li .nav-link i {
  font-size: 20px;
}
.dropdown-item:focus, .dropdown-item:hover,
.dropdown-item.active, .dropdown-item:active {
  background-color: transparent;
}
.sticky_dark_skin.nav-fixed .btn-tran-light {
  background-color: #333;
  color: #fff !important;
}
.sticky_dark_skin.nav-fixed .btn-tran-light:hover {
  background-color: transparent;
  color: #333 !important;
  border-color: #333;
}
.search_overlay {
  content: "";
  background-color: #000;
  height: 100%;
  top: 0;
  position: fixed;
  text-align: center;
  opacity: 0.5;
  right: 0;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  width: 0;
  z-index: 99;
}
.search_overlay.open {
  left: 0;
  right: auto;
  width: 100%;
}
.search-overlay.open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.search_trigger.open i::before {
  content: "\f129";
  font-family: "Font Awesome 5 Free";
}
.search_wrap {
  position: fixed;
  left: 0;
  right: 0;
  max-width: 800px;
  margin: 0 auto;
  padding: 80px 0;
  z-index: 9999;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-align: center;
  align-items: center;
}
.search_wrap.open {
  opacity: 1;
  visibility: visible;
  -webkit-animation: slideInLeft 1s both;
  animation: slideInLeft 1s both;
}
.search_wrap form {
  position: relative;
  width: 100%;
}
.search_wrap .form-control:focus {
  color: #fff;
}
.search_icon {
  font-size: 24px;
  position: absolute;
  right: 5px;
  top: 5px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  color: #fff;
}
.search_wrap .form-control {
  background-color: transparent;
  border-bottom: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  padding: 10px 0;
  color: #fff;
}
.search_wrap .form-control::-webkit-input-placeholder {
  color:#ffffff;
}
.search_wrap .form-control::-moz-placeholder {
  color:#ffffff;
}
.search_wrap .form-control:-ms-input-placeholder {
  color:#ffffff;
}
.search_wrap .form-control::-ms-input-placeholder {
  color:#ffffff;
}
.search_wrap .form-control::placeholder {
  color:#ffffff;
}
.close-search {
  font-size: 40px;
  color: #fff;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 5%;
}
.navbar .attr-nav li .search_trigger i {
  font-size: 20px;
  vertical-align: middle;
  line-height: normal;
}
.navbar .attr-nav li.cart_wrap .nav-link i {
  font-size: 20px;
}
.navbar .attr-nav li.cart_wrap .nav-link {
  padding: 35px 5px;
}
.navbar .attr-nav li .nav-link.sidetoggle i {
  font-size: 28px;
}
.pr_search_icon {
  float: right;
}
.pr_search_trigger.show i::before {
  content: "\ec2a";
}
.pr_search_trigger {
  padding: 17px 10px;
  font-size: 20px;
}
.header_wrap.fixed-top {
  position: relative;
  padding-right: 0 !important;
  z-index: unset;
}
.header_wrap.transparent_header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.header_wrap.nav-fixed {
  box-shadow:  0 0 5px rgba(0,0,0,0.15);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1039;
  -webkit-animation: slideInDown 0.65s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-animation: slideInDown 0.65s cubic-bezier(0.23, 1, 0.32, 1);
  -o-animation: slideInDown 0.65s cubic-bezier(0.23, 1, 0.32, 1);
  animation: slideInDown 0.65s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-animation-fill-mode: none;
  -moz-animation-fill-mode: none;
  -o-animation-fill-mode: none;
  animation-fill-mode: none;
}
.nav-fixed.border_bottom_tran {
  border: 0;
}
.header_wrap.fixed-top.transparent_header.nav-fixed.no-sticky {
  position: absolute;
}
.header_wrap.fixed-top.nav-fixed.no-sticky {
  position: relative;
}
.header_wrap:not([class*="bg_"]):not([class*="bg-"]).transparent_header.nav-fixed.no-sticky {
  background-color: transparent;
  box-shadow: none;
}
.mega-menu {
  display: table;
  padding: 15px 0;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.mega-menu ul {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.navbar .navbar-nav li.dropdown-mega-menu {
  position: static;
}
.navbar .navbar-nav li.dropdown-mega-menu .dropdown-menu {
  right: 0;
  padding-left: 0;
  padding-right: 0;
}
.mega-menu-col {
  border-right: 1px solid #ddd;
  padding: 0;
}
.mega-menu-col:last-child {
  border-right: 0 !important;
}
.dropdown-menu li a i {
  font-size: 14px;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
}
.navbar .navbar-nav > li > .nav-link.cart_trigger i {
  font-size: 20px;
}
.cart_count, .wishlist_count {
  position: relative;
  top: -3px;
  left: 0;
  font-size: 12px;
  font-weight: bolder;
  background-color: #fff;
  border-radius: 50px;
  height: 16px;
  line-height: 16px;
  color: $primary;
  min-width: 16px;
  text-align: center;
  padding: 0 5px;
  display: inline-block;
  vertical-align: top;
  margin-left: -5px;
  margin-right: -5px;
}
.cart_trigger .amount {
  margin-left: 8px;
  font-weight: 600;
  vertical-align: top;
  margin-right: -10px;
}
.navbar-nav .dropdown-menu.cart_box {
  //width: 244px;
  position: absolute !important;
  -webkit-transform: scale(0) !important;
  transform: scale(0) !important;
  //-webkit-transform-origin: -webkit-calc(100% - 30px) 0;
  //transform-origin: calc(100% - 30px) 0;
  display: block;
  transition: all 0.25s ease-in-out;
  padding: 0;
  top: 100% !important;
  left: -100px !important;
  //right: 0;
}
.navbar-nav .dropdown-menu.cart_box.show {
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}
.cart_quantity {
  color: #ffffff;
  display: table;
  margin-top: 5px;
  font-weight: 500;
}
.cart_total .cart_amount {
  float: right;
  color: #F32B56;
}
.cart_total {
  color: #ffffff;
  margin: 0;
  padding: 10px 15px;
  font-weight: 600;
  text-align: right;
}
.cart_total strong {
  float: left;
  font-weight: 600;
}
.cart_buttons {
  margin: 0;
  padding: 10px 15px 20px;
  text-align: center;
}
.cart_buttons .view-cart, .cart_buttons .checkout {
  padding: 8px 20px !important;
}


.top-header[class*="bg_"], .top-header[class*="bg-"] {
  border: 0;
}
.top-header span {
  font-size: 14px;
  vertical-align: middle;
}
.header_wrap .social_icons li {
  padding-bottom: 0;
}
.contact_detail > li:last-child,
.header_list > li:last-child {
  padding-right: 0;
}
.header_wrap .social_icons li a:hover {
  color: $primary;
}
.social_icons.social_small li a {
  height: 25px;
  width: 25px;
  line-height: 26px;
  font-size: 16px;
}
.social_white .social_icons li a, .social_white.social_icons li a,
.header_wrap .social_white .social_icons li a, .header_wrap .social_white.social_icons li a {
  color: #fff;
  border-color: #fff;
}
.header_wrap .social_icons li a {
  color: #333;
}
.contact_detail i {
  margin-right: 10px;
  vertical-align: middle;
  font-size: 16px;
}
.contact_detail span {
  vertical-align: middle;
}
.contact_detail > li,
.header_list > li {
  color: #333;
  font-size: 14px;
  vertical-align: middle;
  display: inline-block;
  padding: 2px 15px 2px 0;
}
.header_list > li i {
  margin-right: 6px;
  vertical-align: middle;
}
.icon_list > li {
  color: #333;
  vertical-align: middle;
  display: inline-block;
  padding: 2px 10px 2px 0;
}
.icon_list > li > i {
  font-size: 16px;
}
.icon_list > li a {
  color: #bfbfbf;
}
.header_dropdown .dropdown-menu {
  border-radius: 0;
  padding: 0;
  margin-top: 0px;
  border: 0;
  transform: none !important;
  top: 100% !important;
  will-change: auto !important;
}
.header_dropdown .dropdown-menu[x-placement^="bottom"], .dropdown-menu[x-placement^="left"], .dropdown-menu[x-placement^="right"], .dropdown-menu[x-placement^="top"] {
  right: 0;
  left: auto !important;
}
.header_dropdown .dropdown-item {
  padding: 5px 10px;
  border-bottom: 1px solid #e6e6e6;
  text-transform: capitalize;
}
.contact_detail li:first-child {
  margin-left: 0px;
}
.contact_detail li a span {
  vertical-align: middle;
}
.top-header.light_skin .contact_detail li,
.top-header.light_skin .contact_detail li a,
.top-header.light_skin .widget_text span {
  color: #fff;
}
.top-header.dark_skin .contact_detail li {
  color: #000;
}
.nav-fixed .top-header,
.nav-fixed .middle-header {
  display: none !important;
}
.navbar-toggler {
  float: right;
  //margin: 13px 0 0 3px;
  font-size: 28px;
  color: #333;
  transition: all 0.5s ease 0s;
  border-radius: 0;
  height: 35px;
  width: 35px;
  padding: 0;
  line-height: 36px;
  transition: none;
}
.navbar-toggler[aria-expanded="true"] span::before {
  content: "\f129";
  font-size: 16px;
}
.navbar-toggler[aria-expanded="true"] {
  line-height: 32px;
  font-size: 20px;
}
header .attr-nav + .social_icons {
  border-left: 1px solid #333;
  margin-left: 5px;
  padding-left: 5px;
}
header .attr-nav + .social_icons li {
  padding: 0;
}
header.light_skin .attr-nav + .social_icons {
  border-color: #fff;
}
header.light_skin.nav-fixed .attr-nav + .social_icons {
  border-color: #333;
}
header.light_skin.nav-fixed .social_icons li a {
  color: #000;
}
header.light_skin.nav-fixed .social_icons li a:hover {
  color: #0E93D8;
}
.search_box {
  position: relative;
}
.search_box input {
  padding-right: 30px;
}
.search_box button {
  border: 0;
  padding: 0 10px;
  background-color: transparent;
  font-size: 22px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}
.header-banner2 {
  margin: 0 15px;
}
.header-banner,
.header-banner2 {
  display: block;
  position: relative;
  margin-bottom: 15px;
}
.header-banner img {
  width: 100%;
}
.header_banner {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
}
.header_banner_wrap .header_banner {
  -ms-flex-align: center;
  align-items: center;
}
.header_banner_content {
  position: relative;
}
.header_banner_text {
  color: #fff;
}
.header_banner_title {
  font-weight: bold;
  color: #fff;
  margin-bottom: 15px;
}
.banner_img {
  position: relative;
}
.shop_bn_content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  z-index: 1;
}
.shop_bn_content2 {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.shop_bn_content * {
  color: #fff;
}
.shop_title {
  font-weight: bold;
  margin-bottom: 10px;
}
.shop_banner {
  position: relative;
  display: table;
  margin: 0 auto;
}
.shop_banner2 {
  margin-bottom: 30px;
  height: 235px;
  overflow: hidden;
}
.el_banner1 {
  background-color: #FDBB99;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.el_img {
  text-align: center;
  width: 100%;
}
.shop_banner2 a {
  position: relative;
  z-index: 9;
  padding: 15px;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}
.el_title {
  width: 100%;
}
.el_banner1::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -80px;
  background-color: rgba(255,255,255,0.2);
  width: 250px;
  height: 250px;
  border-radius: 100%;
  z-index: -1;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.el_banner2::before {
  content: "";
  position: absolute;
  right: -50px;
  bottom: -50px;
  background-color: rgba(255,255,255,0.15);
  width: 250px;
  height: 250px;
  border-radius: 100%;
  z-index: -1;
}
.el_banner2 .el_title h6 {
  font-weight: 600;
  font-size: 18px;
}
.el_banner1 .el_title span {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}
.el_banner1 .el_img img {
  max-width: 180px;
  margin-top: 20px;
  width: 100%;
}
.el_banner2 {
  background-color: #53C0E9;
  text-align: right;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.shop_banner2:last-child {
  margin-bottom: 0;
}
.el_banner2 .el_img img {
  max-width: 165px;
  width: 100%;
}
.sidebar_menu {
  padding: 50px 30px 30px;
  position: fixed;
  top: 0;
  background-color: #fff;
  box-shadow: -3px 0 3px rgba(0,0,0,.04);
  bottom: 0;
  width: 400px;
  overflow-y: auto;
  right: -400px;
  visibility: hidden;
  height: 100vh;
  transition: all 0.5s ease;
  z-index: 99999;
}
.sidebar_menu.active {
  right: 0;
  visibility: visible;
}
.side_panel_close {
  position: absolute;
  right: 30px;
  top: 30px;
}
.side_panel_close i {
  font-size: 24px;
}
.header-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  top: 0;
  transition: all 0.5s ease-in-out;
  //TODO cursor: url("#{$sw-asset-theme-url}/bundles/adaptorshop/images/close.png"), pointer;
  cursor: pointer;
}
body.active {
  overflow: hidden;
  padding-right: 17px;
}
.widget_contact_info .contact_wrap li:last-child {
  margin-bottom: 0;
}
input.text {
  display: none;
}
.nav_block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.categories_wrap {
  position: relative;
}
.categories_btn i {
  font-size: 24px;
  vertical-align: middle;
  margin-right: 10px;
}
.categories_menu i {
  margin-right: 0;
  float: right;
}
.categories_btn.categories_menu {
  padding: 12px 15px;
  border-radius: 4px;
}
.categories_btn span {
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 500;
}
.categories_btn {
  background-color: $primary;
  border: 1px solid $primary;
  padding: 20px 15px;
  color: #fff;
  text-align: left;
  width: 100%;
}

.all--category-header {
  padding-top: 1rem;
}
.search-input-header{
  border-radius: 2rem;
}
.more_categories {
  padding: 12px 15px;
  display: block;
  font-size: 16px;
  color: $primary;
  border-top: 1px solid #ddd;
  margin-top: 5px;
  position: relative;
  cursor: pointer;
  width: 100%;
}
.more_categories::before {
  content: "\ec36";
  position: absolute;
  right: 15px;
  top: 50%;
  font-family: Linearicons;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.more_categories.show::before {
  content: "\ec37";
}

.search_form_btn .form-control {
  padding-right: 120px !important;
}
.search_btn {
  position: absolute;
  right: 1px;
  background-color: #fff;
  border: 0;
  padding: 0px 15px;
  font-size: 20px;
  top: 1px;
  bottom: 1px;
  z-index: 9;
}
.search_btn2 {
  position: absolute;
  right: 5px;
  background-color: $primary;
  border: 0;
  border-radius: 100%;
  font-size: 14px;
  top: 5px;
  color: #fff;
  z-index: 9;
  width: 40px;
  height: 40px;
  z-index: 9;
}
.search_btn3 {
  background-color: $primary;
  color: #fff;
  border: 0;
  padding: 0 30px;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 9;
  border-radius: 2rem 0 0 2rem;
}
.search_btn3:hover {
  background-color: $yellow;
}
.search_btn:hover {
  color: $primary;
}
.search_btn i {
  vertical-align: middle;
}


.contact_phone span, .contact_phone i {
  vertical-align: middle;
}
.contact_phone i {
  font-size: 30px;
  margin-right: 10px;
  color: $primary;
}
.contact_phone span {
  color: #16181b;
}
.banner_content_inner {
  padding: 50px;
}
.header_topbar_info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
}
//.download_wrap {
//  display: -ms-flexbox;
//  display: flex;
//  -ms-flex-align: center;
//  align-items: center;
//}
#main--header{
  background-color: $HeaderBackgroundColor;
}
#main--nav, .contact_phone {
  background-color: $NavigationBackgroundColor;
  color: $NavigationTextColor !important;
  &:hover{
    color: $NavigationHoverColor !important;
  }
  .nav-link , .menu-link{
    color: $NavigationTextColor !important;
    &:hover{
      color: $NavigationHoverColor !important;
    }
  }

}
.header-search-icon{
  font-size: 1.7rem;
  color: $primary;
  bottom: 2px;
  position: relative;
}
.navigation-offcanvas-list-item{
  border-top: none;
}

